<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rock_Music_History</title>
    <style>
        a{
        font-size:15px;
        }
    </style>
</head>
<body>
<h1 style="text-align: center;">Библия музыки рок жанра</h1>
<h3>Рок (англ. Rock) — обобщающее название ряда направлений популярной музыки. Слово rock (в переводе с англ. — «качать»
    , «укачивать», «качаться») возникло как сокращение от названия рок-н-ролла, хронологически первого жанра рок-музыки,
    и обозначает характерные для рок-н-ролла ритмические ощущения, связанные с определённой формой движения, по аналогии
    с roll, twist, swing, shake. Чаще всего (но не обязательно) рок исполняется с использованием электрогитар и ударных.
    Для рок-музыкантов характерно исполнение композиций собственного сочинения. Однако сами по себе эти элементы ещё не
    делают музыку роком, а потому принадлежность некоторых стилей музыки к року оспаривается.</h3>
<p style="text-align: center;">Ответвления рок музыки</p>
<div>
    {% for janr in janrs %}
        <a href="{{janr}}">{{janr}}</a>
    {% endfor %}
</div>


<!-- готик-рок, гранж, инди-рок, инструментальный рок, математический рок, нойз-рок, паб-рок, панк-рок, пост-панк, прото-панк, психоделический рок, сатерн-рок, сёрф-рок, софт-рок, спейс-рок, стоунер-рок, фолк-рок, хард-рок, хартленд-рок, экспериментальный рок, христианский рок, глэм-панк, метал, прогрессивный рок, пост-рок -->
</body>
</html>